/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* Generic project styles */
    color: #2A2B2E;
    font-family: 'Unna', serif;
}

h1,
h2,
h3 {
    font-family: 'Unna', serif;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #2A2B2E;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* top: 0;
    left: 0; */
    /* height: 74px; */
}

header a {
    text-decoration: none;
    color: inherit;
    /* left: 0; */
    /* width: 100%; */
}

/* #logo {
    text-wrap: wrap;
} */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #2A2B2E;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    padding: 0 1rem;
    width: 100%;
    box-shadow: 0 2px 2px #2A2B2E;
    left: 0;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* background-color: lightblue; */
    /* Make main element take up any extra space, in order to push the footer down */
    flex: 1 0 auto;
    margin-top: 74px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/pug-hero.webp") no-repeat left 48% center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(212, 175, 55, .5);
    font-size: 130%;
    position: absolute;
    bottom: 10px;
    width: 80%;
    min-height: 156px;
    padding-top: 10px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* Reasons to own section */
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    font-size: 280%;
    text-align: center;
    margin-bottom: 20px;
}

#benefits-physical > div, #benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits hr {
    border-top: 1px solid #2A2B2E;
    margin: 5px 0;

}

#benefits p {
    padding: 0 20px;
}

#benefits-own-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle-cover-bg {
    height: 90vw;
    width: 90vw;
    background: url("../images/reasons-own-image.webp") no-repeat top center / cover;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;

}

/* Reasons to adopt section */
.five-reasons {
    padding: 15px;
    text-align: center;
}

#adopt {
    background: url("../images/pugs-basket.webp") no-repeat center center/cover;
    /* Handles responsivity without the need for a media query */
    display: flex;
    flex-wrap: wrap;
}

#adopt div {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of reasons to adopt divs over the background image */
    border: 2px solid white;
}

#adopt h3 {
    /* Override the heading color set in general styles */
    color: #ffffff;
}

/* Pugs page */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Contact page */
#contact {
    background-image: url("../images/ringo.webp");
    background-size: cover;
    background-position: 42%;
    flex-grow: 1;
    padding: 20px 10% 0 10%;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 10px 30px 30px;
}

#contact-form > h2 {
    color: #fafafa;
    margin-bottom: 10px;
}

.text-input {
    background: transparent;
    height: 25px;
    width: 100%;
    margin: 5px 0 10px 0;
    padding: 0 5px;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.check-boxes {
    display: flex;
    /* justify-content: space-between; */
    /* width: 100%; */
    flex-direction: column;
    /* line-height: 18.5px;
    flex-basis: 196px; */
    /* align-items: baseline; */
}

.check-boxes > div {
    /* line-height: 18.5px; */

}

.contact-button {
    margin-top: 20px;
    padding: 15px 32px;
    border-radius: 2px;
    background-color: #D4AF37;
    color: #fafafa;
    font-size: 100%;
}

/* .main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

.hero-section-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-section-content p {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-img-container {
    display: flex;
    width: 50%;

}

.hero-img-container img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.goals-section-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blue;
} */



/* footer, footer ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #2A2B2E;
}

@media screen and (min-width: 377px) {

    /* Main content */
    main {
        /* Make main element take up any extra space, in order to push the footer down */
        /* margin-top: 74px; */
    }
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    /* Pugs page */
    #photos {
        column-count: 2;
        column-gap: 0;
    }

}

/* Media query for tablets and larger screen sizes (768px and larger) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Make main element take up any extra space, in order to push the footer down */
        margin-top: 100px;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* Reasons section */
    #benefits-physical, 
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical > div, 
    #benefits-mental > div {
        width: 75%;
    }

    #benefits-mental > div {
        text-align: end;
        align-self: flex-end;
    }

    /* Pugs page */
    #photos {
        column-count: 3;
    }

    /* Contact page */
    #contact {
        position: relative;
        background-position: center;
    }

    #contact-form {
        position: absolute;
        max-width: 400px;
        top: 30px;
        right: 20%
    }

    .text-input:hover {
        border-color: #D4AF37;
    }

    .contact-button:hover {
        background-color: #fafafa;
        color: #D4AF37;
    }
}

/* Media query for small laptops and larger screen sizes (992px and larger) */
@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 1px solid #2A2B2E;
    }

    /* Pugs page */
    #photos {
        column-count: 4;
    }

}

/* Media query: large laptops and larger (1200px and up) */
@media screen and (min-width: 1200px) {
    
    /* Reasons section */
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits > div {
        flex: 1;
    }

    #benefits-physical > div {
        align-self: flex-end;
    }

    #benefits-mental > div {
        align-self: flex-start;
    }

    #benefits-image {
        order: 0;
    }

    #benefits-mental {
        order: 1;
    }
}