/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Unna', serif;
}

h1 {
    font-family: 'Unna', serif;
    text-transform: uppercase;
    color: #252525;
    letter-spacing: 2px;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* top: 0;
    left: 0; */
    /* height: 74px; */
}

header a {
    text-decoration: none;
    color: inherit;
    /* left: 0; */
    /* width: 100%; */
}

/* #logo {
    text-wrap: wrap;
} */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    padding: 0 1rem;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    /* background-color: lightblue; */
    /* Make main element take up any extra space, in order to push the footer down */
    flex: 1 0 auto;
    margin-top: 74px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/pug-hero.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* .main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
}

.hero-section-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-section-content p {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero-img-container {
    display: flex;
    width: 50%;

}

.hero-img-container img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.goals-section-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blue;
} */

/* Footer */

/* footer, footer ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

@media screen and (min-width: 377px) {

    /* Main content */
    main {
        /* Make main element take up any extra space, in order to push the footer down */
        margin-top: 74px;
    }
}

/* Media query for tablets and larger screen sizes (768px and larger) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Make main element take up any extra space, in order to push the footer down */
        margin-top: 100px;
    }
}

/* Media query for small laptops and larger screen sizes (992px and larger) */
@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

}