/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #13366E;
    font-family: 'Unna', serif;
}

h1,
h2,
h3 {
    font-family: 'Unna', serif;
    text-transform: uppercase;
    color: #13366E;
    letter-spacing: 2px;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: skyblue;
    padding: 0.5rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    padding-top: 15px;
    left: 0;
    position: relative;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #13366E;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: skyblue;
    padding: 0 1rem;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 4rem;
}


/* Main Content */
main {
    flex: 1 0 auto;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/pug-hero.webp") no-repeat left 48% center/cover;
    position: relative;
}

#cover-text {
    background-color: rgba(235, 162, 134, 0.5);
    font-size: 130%;
    position: absolute;
    bottom: 10px;
    width: 80%;
    min-height: 156px;
    padding-top: 10px;
    padding-left: 10px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #13366E;
}

/* Reasons to own section */
#reasons {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reasons h2 {
    font-size: 280%;
    text-align: center;
    margin-bottom: 20px;
}

#benefits-physical>div,
#benefits-mental>div {
    background-color: #13366E;
    color: skyblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

#benefits h3 {
    color: skyblue;
    padding-top: 5px;
}

#benefits hr {
    border-top: 1px solid skyblue;
    margin: 5px 0;
    width: 90%;
}

#benefits p {
    padding: 0 20px 10px;
}

#benefits-own-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle-cover-bg {
    height: 90vw;
    width: 90vw;
    background: url("../images/reasons-own-image.webp") no-repeat top center / cover;
    margin: 20px 0;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

/* Reasons to adopt section */
.five-reasons {
    padding: 15px;
    text-align: center;
}

#adopt {
    background: url("../images/pugs-basket.webp") no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    width: 100%;
}

#adopt div {
    color: white;
    background-color: rgba(19, 54, 110, .5);
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    border: 2px solid white;
    width: 90%;
    margin-bottom: 1em;
}

#adopt h3 {
    color: white;
}

/* Pugs page */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Contact page */
#contact {
    background-image: url("../images/ringo.webp");
    background-size: cover;
    background-position: 42%;
    flex-grow: 1;
    padding: 20px 10% 0;
}

#contact-form {
    color: white;
    background-color: rgba(19, 54, 110, .5);
    padding: 10px 30px 30px;
}

#contact-form>h2 {
    color: white;
    margin-bottom: 10px;
}

.text-input {
    background: transparent;
    height: 25px;
    width: 100%;
    margin: 5px 0 10px;
    padding: 0 5px;
    color: white;
    border: 1px solid white;
    border-radius: 2px;
}

.check-boxes {
    display: flex;
    flex-direction: column;
}

.contact-button {
    margin-top: 20px;
    padding: 15px 32px;
    border-radius: 2px;
    background-color: #13366E;
    color: white;
    font-size: 100%;
}

/* Response page */
#contact-form-response {
    color: white;
    background-color: rgba(19, 54, 110, 0.5);
    padding: 10px 30px 30px;
}

#contact-form-response h2 {
    color: white;
    margin-bottom: 10px;
}

#response-message {
    text-align: center; 
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
    color: #13366E;
}

/* Media query: large or landscape phones (425px and up) */
@media screen and (min-width: 425px) {

    /* Hero */
    #cover-text {
        min-height: 110px;
    }
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    /* Pugs page */
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query for tablets and larger screen sizes (768px and larger) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main content */
    main {
        margin-top: 110.09px;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* Pugs page */
    #photos {
        column-count: 3;
    }

    /* Contact page */
    #contact {
        position: relative;
        background-position: center;
    }

    #contact-form {
        position: absolute;
        max-width: 400px;
        top: 30px;
        right: 20%
    }

    .text-input:hover {
        border-color: #6e4b13;
    }

    .contact-button:hover {
        background-color: white;
        color: #13366E;
        cursor: pointer;
    }

    /* Response page */
    #contact-form-response {
        position: absolute;
        max-width: 400px;
        top: 30px;
        right: 20%
    }
}

/* Media query for small laptops and larger screen sizes (992px and larger) */
@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 2px solid #6e4b13;
        color: #6e4b13;
    }

    /* Pugs page */
    #photos {
        column-count: 4;
    }

    #social-networks i:hover {
        color: #6e4b13;
    }
}

/* Media query: large laptops and larger (1200px and up) */
@media screen and (min-width: 1200px) {

    /* Reasons section */
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits>div {
        flex: 1;
    }

    #benefits-physical>div {
        align-self: flex-end;
    }

    #benefits-mental>div {
        align-self: flex-start;
    }

    #benefits-own-image {
        order: 0;
    }

    #benefits-mental {
        order: 1;
    }
    
    /* Response page */
    #contact-form-response {
        position: absolute;
        max-width: 400px;
        top: 30px;
        right: 20%
    }
}